body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: papayawhip;
}

.container {
  width: auto;
  padding: 2rem 0;
  margin: 0 auto;
  text-align: center;
}
.container .banner {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
form {
  /* text-align: center; */
  margin: 0 auto;
  font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana,
    sans-serif;
  font-size: 3.5rem;
  color: #666;
}
form .search {
  padding: 1.2rem;
  font-size: 1.3rem;
  border: 0;
  border-radius: 20%;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  margin-right: 1rem;
  width: 20rem;
  text-align: center;
  height: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.btn-group {
  background: #2c2c35;
  border-radius: 999px;
  box-shadow: #2c2c35 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  border: 0;
}
a {
  color: #ffffff;
  text-decoration: none;
}

.root {
  width: 100%;
  padding: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

.card {
  width: 400px;
  box-sizing: border-box;
  border: 2px solid black;
}

.card img {
  width: 100%;
}

.card h3 {
  padding-left: 0.7rem;
  text-transform: uppercase;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
  padding: 0.5rem;
  gap: 1rem;
}

.prev {
  background: #2c2c35;
  border-radius: 999px;
  box-shadow: #2c2c35 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  border: 0;
}
.prev:disabled {
  background: #52525d;
}
.next {
  background: #2c2c35;
  border-radius: 999px;
  box-shadow: #2c2c35 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  border: 0;
}

@media (max-width: 1240px) {
  .container .banner {
    width: 700px;
    height: 350px;
  }
}

@media (max-width: 600px) {
  .container .banner {
    width: 450px;
    height: 250px;
  }
  form .search {
    padding: 0.8rem;
    font-size: 1rem;
    width: 12rem;
    height: 1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 400px) {
  .container .banner {
    width: 300px;
    height: 150px;
  }
}
